<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OcrDemo.SettingsDevOnly" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OcrDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OcrDemo.Properties.Settings>
            <setting name="awsrekognition_accesskeyid" serializeAs="String">
                <value />
            </setting>
            <setting name="awsrekognition_secretaccesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="ocrspace_accesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="azure_accesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="awstextract_accesskey" serializeAs="String">
                <value />
            </setting>
            <setting name="awstextract_secretkey" serializeAs="String">
                <value />
            </setting>
        </OcrDemo.Properties.Settings>
    </userSettings>
</configuration>